<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask and AJAX Example</title>
</head>
<body>
    <h1>Flask and AJAX Example</h1>
    <button id="loadBtn">Load Data from Flask</button>
    <p id="data"></p>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#loadBtn').click(function(){
                $.ajax({
                    url: '/get-data',
                    type: 'GET',
                    success: function(response){
                        $('#data').text(response.message);
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            });
        });
    </script>
</body>
</html>

""In this HTML file, we're using jQuery to simplify the AJAX call. The AJAX request is sent to the /get-data route on our Flask server when the button is clicked. Flask handles this request and returns a simple JSON object, which AJAX then uses to update the paragraph (<p>) element's text.""
    #thanks GPT for getting me started 